<template>
  <div>
    <MenuBar/>
    <Dashboard/>
    <input type="text" placeholder="Enter a name:" v-model="name">
    <select v-model="selected">
      <option v-for="option in options" v-bind:value="option.value">
        {{ option.text }}
      </option>
    </select><br>
    <button v-on:click="save">Save</button>
    {{index}}
  </div>
</template>

<script>
import Dashboard from './Dashboard.vue'
import MenuBar from './MenuBar.vue'
import DataService from '../lib/DataService.coffee'
import Time from '../lib/time.coffee'
import howlConfig from '../config/howl'
import { mapGetters } from 'vuex';
export default {
  name: 'app',
  computed: mapGetters(['alarms']),
  data: function() {
    return {
      index: null,
      name: null,
      selected: null,
      options: [
        { text: 'Beep', value: howlConfig.beep },
        { text: 'Foghorn', value: howlConfig.foghorn }
      ]
    }
  },
  components: {
    Dashboard,
    MenuBar
  },
  methods: {
    save() {
      let newAlarm = {
        "name" : this.name,
        "type" : "Time",
        "value" : Time.setAlarmTime("11:30:00 am"),
        "switch" : "on",
        "repeat" : "off",
        "temporary" : "no",
        "sound" : this.selected,
        "quiet" : "off"
      }
      this.index.push(DataService.save(newAlarm))
      this.$store.commit('ADD_ALARM', {'alarm': "CHEESE!"})
    }
  },
  created() {
    this.index = DataService.loadIndex()
  }
}
</script>

<style{{#sass}} lang="scss"{{/sass}}>
</style>
