<template>
  <div>
    <button v-on:click="start">Start</button>
    <button v-on:click="stop">Stop</button>
  </div>
</template>

<script>
import Alarm from '../lib/alarm.coffee'
export default {
  name: 'dashboard',
  data: function() {
    return {
      myAlarm: new Alarm()
    }
  },
  methods: {
    start() {
      this.myAlarm.start()
    },
    stop() {
      this.myAlarm.stop()
    }
  }
}
</script>

<style{{#sass}} lang="scss"{{/sass}}>

</style>
