<template>
  <div>
    <p>MenuBar</p>
  </div>
</template>

<script>
export default {
  name: 'menubar',
  data: function() {
    return {}
  }
}
</script>

<style{{#sass}} lang="scss"{{/sass}}>

</style>
